<!DOCTYPE html>
<html ng-app='articles' ng-controller="articles.DetailCtrl">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一度蜜</title>
    <link href="/css/yidu.css" rel="stylesheet">
    <link href="/css/yidu_add_160322.css" rel="stylesheet">
    <link rel="stylesheet" href="/iconfont/iconfont.css">

     <link rel="stylesheet" href="/css/ngDialog.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-plain.css">

   <script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>
    <!--<script type="text/javascript" src="/js/me-lazyload.js"></script>-->
    <script type="text/javascript" src="/js/lib/ngDialog.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/angular-locale_zh-cn.js"></script>



     <script type="text/javascript" src="/js/SysConfig.js"></script>
    <script type="text/javascript" src="/js/env.js"></script>
    <script type="text/javascript" src="/js/apps.js"></script>
    <script type="text/javascript" src="/groupTopic/detail.js"></script>
    <script type="text/javascript" src="/js/yiServer.js"></script>
    <!-- <script type="text/javascript" src="/js/comJs/urlParamModule.js"></script> -->

    <!-- <script type="text/javascript" src="/articles/detail.all.min.js"></script> -->

</head>

<body>
    
    <div class="content-header">
        <div class="content-back"><a ng-click="toBack()"><i class="iconfont">&#xe601;</i></a></div>
        <!-- <div class="content-header-txt"><a href=""><i class="iconfont">&#xe621;</i></a></div> -->
    </div>
    <div class="end"></div>
    <div class="news-title">
        <h1 ng-bind='item.results[0].title'></h1>
        <ul class="news-author">
            <li><img ng-src="{{item.results[0].user.avatar | resource}}" err-src="/img/default_avatar.png" ></li>
            <li ng-bind="item.results[0].user.nickName"></li>
            <li class="author-interact">
            <a ng-click="subscribeAuthor()" ng-bind="item.results[0].user.hasSub==true?'取消关注':'关注TA'"></a>
            <a >向TA提问</a>
            </li>
        </ul>
    </div>
    <div class="content-txt">
        <p ng-bind="item.results[0].content.p"></p>
        <p ng-repeat="(key, value) in item.results[0].content.imgs">
        <img ng-src="{{value | resource}}">
        </p>
       
       <!--  <p><img src="/photo/content2.jpg">
            <div>魅蓝metal，这是全新的命名方式，metal在英文中是金属的意思，能够让魅族采用全新的命名方式，足以见得这款魅蓝metal的重要性。</div>
        </p>
        <p>开启“大姨妈”模式的魅族在10月21日这天再次迎来了自己的主场，发布了与阿里合作之后的第一款烙印有“阿里”元素的千元金属手机——魅蓝metal。魅族总裁白永祥在发布会上表示魅蓝metal将是魅族在2015年的收官之作，虽然这仅仅是一款千元出头的手机，但是由于这款手机被刻上了阿里的烙印，因此无论是媒体还是魅族自己对于这款产品的重视程度丝毫不亚于此前发布的任何一款魅族手机。</p> -->
    </div>
    <div class="ash-bg"></div>
    <div class="content-title">讨论：</div>
    <div class="topic-add">
        <P><i class="iconfont">&#xe61a;</i></P>
        <input type="text" readonly value="点评几句" ng-click="showCommentDialog(item.results[0],1)">
    </div>
    <div class="topic">
                <section ng-repeat="one in itemComments.results | orderBy:'-createdOn' "  >
                    <article>
                        <img ng-src="{{one.user.avatar | resource}}" err-src="/img/default_avatar.png" >
                        <ul>
                            <li><h1 ng-bind="one.user.nickName"></h1></li>
                            <li ng-bind="one.createdOn"></li>
                        </ul>
                       <p>
                       <a ng-click="attitudeToZan(one,'endorse')"><i class="iconfont">&#xe649;</i> <span ng-bind="one.statistics.endorse"></span></a>
                       <a ng-click="attitudeToZan(one,'oppose')"><i class="iconfont">&#xe64a;</i> <span ng-bind="one.statistics.oppose"></span></a>
                       </p>
                    </article>
                    <ng-include src="'recursion'" ng-init="talksOnOneComment2=one.content.quote"></ng-include>
                    <div ng-click="showCommentDialog(one,2)"  style="word-break: break-all;" ng-bind="one.content.p" >
                    </div>
                </section>

              
               <!--  <div class="content-user-btn" ng-if="itemComments.results.length&&itemComments.results.showMore ||!itemComments.results.length">
                    <a type="button" ng-if="itemComments.results.length&&itemComments.results.showMore"> <span ng-click="showMoreComment()"> 加载更多</span>
                    </a> -->
                    <!--<a type="button" ng-if="!commentfs.length" ng-click="showCommentDialog()"> <span>我要评论</span> </a>-->
                <!-- </div> -->
    </div>
    <div class="end"></div>
    <footer>
        <ul class="footer-center">
            <li><a ng-click="collecteAticle()"><i class="iconfont" ng-style="collectionStyle()">&#xe61e;</i></a></li>
            <li>
                <p ng-bind="itemComments.results.length"></p><a ><i class="iconfont">&#xe602;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe61c;</i></a></li>
        </ul>
    </footer>
</body>
<script id="recursion" type="text/ng-template">

        <div ng-if='talksOnOneComment2' ng-init="one2=talksOnOneComment2" class="topic-floor" >
            <div  ng-init="talksOnOneComment2=one2.quote" ng-include="'recursion'"></div>
            <h1>{{one2.idx}}楼 {{one2.user.nickName}} {{one2.createdOn}} </h1>

            <p ng-click="showCommentDialog(one,2)" ng-bind="one2.p" style="word-break: break-all;"></p>
        </div>
    </script>


    
      <script type="text/javascript" src="/js/notie.js"></script> 
</html>
