
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.01px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before { content: "\e600"; }
.icon-back:before { content: "\e601"; }
.icon-bubble:before { content: "\e602"; }
.icon-camera:before { content: "\e603"; }
.icon-cancel:before { content: "\e604"; }
.icon-circle:before { content: "\e605"; }
.icon-cue:before { content: "\e606"; }
.icon-down:before { content: "\e607"; }
.icon-eye:before { content: "\e608"; }
.icon-fire:before { content: "\e609"; }
.icon-friend:before { content: "\e60a"; }
.icon-goto:before { content: "\e60b"; }
.icon-key:before { content: "\e60c"; }
.icon-logo:before { content: "\e60d"; }
.icon-more:before { content: "\e60e"; }
.icon-nav2:before { content: "\e60f"; }
.icon-news:before { content: "\e610"; }
.icon-pen:before { content: "\e611"; }
.icon-photo:before { content: "\e612"; }
.icon-play:before { content: "\e613"; }
.icon-product:before { content: "\e614"; }
.icon-qqzone:before { content: "\e615"; }
.icon-rotate1:before { content: "\e616"; }
.icon-rotate2:before { content: "\e617"; }
.icon-scan:before { content: "\e618"; }
.icon-search:before { content: "\e619"; }
.icon-send:before { content: "\e61a"; }
.icon-settings:before { content: "\e61b"; }
.icon-share:before { content: "\e61c"; }
.icon-shopping:before { content: "\e61d"; }
.icon-star:before { content: "\e61e"; }
.icon-tittle:before { content: "\e61f"; }
.icon-tool:before { content: "\e620"; }
.icon-trash:before { content: "\e621"; }
.icon-up:before { content: "\e622"; }
.icon-user:before { content: "\e623"; }
.icon-video:before { content: "\e624"; }
.icon-weibo:before { content: "\e625"; }
.icon-weixin:before { content: "\e626"; }
.icon-write:before { content: "\e627"; }
.icon-wrong:before { content: "\e628"; }
.icon-yes:before { content: "\e629"; }
.icon-enlarge:before { content: "\e62a"; }
.icon-narrow:before { content: "\e62b"; }
.icon-like:before { content: "\e62c"; }
.icon-nav:before { content: "\e62d"; }
.icon-43:before { content: "\e62e"; }
.icon-169:before { content: "\e62f"; }
.icon-frame:before { content: "\e630"; }
.icon-laugh:before { content: "\e631"; }
.icon-paint:before { content: "\e632"; }
.icon-round:before { content: "\e633"; }
.icon-rubber:before { content: "\e634"; }
.icon-shape:before { content: "\e635"; }
.icon-square:before { content: "\e636"; }
.icon-turn:before { content: "\e637"; }
.icon-turn2:before { content: "\e638"; }
.icon-round2:before { content: "\e639"; }
.icon-cut:before { content: "\e63a"; }
.icon-ask2:before { content: "\e63b"; }
.icon-star2:before { content: "\e63c"; }
.icon-trophy:before { content: "\e63d"; }
.icon-open:before { content: "\e63e"; }
.icon-retract:before { content: "\e63f"; }
.icon-qq:before { content: "\e640"; }
.icon-refined:before { content: "\e641"; }
.icon-handshake:before { content: "\e642"; }
.icon-topic:before { content: "\e643"; }
.icon-us:before { content: "\e644"; }
.icon-heart:before { content: "\e645"; }
.icon-home:before { content: "\e646"; }
.icon-top:before { content: "\e647"; }
