<div class="tanchu-content">
    <div class="tanchu-top">
        <div class="tanchu-title" align="center">提示</div>
        <div class="tanchu-btn"><a ng-click='closeThisDialog()'><i class="iconfont">&#xe604;</i></a></div>
    </div>
    <div class="tanchu-main">
        <ul class="tanchu-link">
            <span>当前是游客身份，是否去登陆？</span>
        </ul>
        <div class="content-user-btn"><a ng-click="asYouke()">继续浏览</a><a
                ng-click='closeThisDialog();showLoginDialog()'>去登陆</a></div>
    </div>
</div>
