


<div class="tanchu-content">
    <div class="tanchu-top">
        <div class="tanchu-title">登录</div>
        <div class="tanchu-btn"><a ng-click='closeThisDialog()'><i class="iconfont">&#xe604;</i></a></div>
    </div>
    <div class="tanchu-login">
        <ul class="tanchu-login-input">
            <li><i class="iconfont">&#xe623;</i><input type="text" placeholder="邮箱/用户名/手机号" ng-model="user.name"></li>
            <li><i class="iconfont">&#xe60c;</i><input type="password" placeholder="请输入密码" ng-model="user.passWord">
            </li>
            <li><input type="button" value="登 录" ng-click="toLogin()"></li>
        </ul>
        <!--<div class="tanchu-login-other">其它账号直接登录<a href="#"><i class="iconfont">&#xe640;</i></a><a href="#"><i class="iconfont">&#xe625;</i></a></div>-->
        <div class="tanchu-login-btn"><a ng-click="sign()">用户注册</a></div>
    </div>
</div>