    <div class="tanchu-content">
        <div class="tanchu-top">
            <div class="tanchu-title">购买链接</div>
            <div class="tanchu-btn"><a ng-click='closeThisDialog()'><i class="iconfont">&#xe604;</i></a></div>
        </div>
        <ul class="buy-link">
            <li ng-repeat=" one in ngDialogData.saleData.address">
                <i class="iconfont" ng-if="$first">&#xe62c;</i>
                <!--<a ng-href="http://{{one.url}}">{{one.name || "购买地址"+$index}} ￥2100元</a>-->
                <a ng-click="toAddress(one.url)">{{one.name || "购买地址"+$index}} </a>
            </li>
            <li ng-if="ngDialogData.saleData.address.length==0">
                <i class="iconfont" ng-if="$first">&#xe62c;</i>
                <a ng-click="toAddress(one.url)">暂无地址 </a>
            </li>
        </ul>
    </div>