<div class="tanchu-content">
    <div class="tanchu-top">
        <div class="tanchu-title">注册</div>
        <div class="tanchu-btn"><a ng-click='closeThisDialog()'><i class="iconfont">&#xe604;</i></a></div>
    </div>
    <div class="tanchu-login">
        <ul class="tanchu-login-input">
            <li><i class="iconfont">&#xe623;</i><input type="text" placeholder="邮箱/用户名/手机号" ng-model="user.name"></li>
            <li><i class="iconfont">&#xe60c;</i><input type="password" placeholder="6-16位字符密码" ng-model="user.passWord"
                                                       maxlength="16"></li>
            <li><i class="iconfont">&#xe623;</i><input type="text" placeholder="10字以内昵称" ng-model="user.nickName"
                                                       maxlength="10"></li>
            <li><input type="checkbox" ng-model="user.green" ng-init="user.green=true"
                       class="option-input checkbox">同意<a href="/yidumi/agree.html" target="_blank"><span>《注册协议》</span></a>和<a
                    href="/yidumi/right.html" target="_blank"><span>《版权声明》</span></a></li>
            <li><input type="button" value="完成注册" ng-click="toSign()"></li>
        </ul>
        <!--<div class="tanchu-login-other">其它账号直接登录<a href="#"><i class="iconfont">&#xe640;</i></a><a href="#"><i class="iconfont">&#xe625;</i></a></div>-->
        <div class="tanchu-login-btn">已注册用户点此<a ng-click="login()">登 录</a></div>
    </div>
</div>