<div class="tanchu-content">
    <div class="tanchu-top">
        <div class="tanchu-title">购买产品</div>
        <div class="tanchu-btn"><a ng-click='closeThisDialog()'><i class="iconfont">&#xe604;</i></a></div>
    </div>
    <div class="tanchu-main">
        <ul class="tanchu-link">
            <li><img ng-src="{{ngDialogData.devicesData.icon | resource}}" err-src="/img/default_device.png"></li>
            <li><h1 ng-bind="::ngDialogData.devicesData.name"></h1></li>
            <li ng-bind="::ngDialogData.devicesData.sales.price | currency"></li>
        </ul>
        <div class="content-user-btn" style="padding-top: 0;padding-bottom: 0">
            <a style="padding-top: 0;padding-bottom: 0"
               ng-click="deviceOrder(ngDialogData.devicesData.sales.address[0].url, ngDialogData.devicesData.id)">购买</a>
            <a style="padding-top: 0;padding-bottom: 0"
               ng-click="findDetails('smartDevices',ngDialogData.devicesData.id)">详情</a>
        </div>
    </div>
</div>