<!DOCTYPE html>
<html ng-app="articles" ng-controller="articles.DetailCtrl">
<head>

    <base href="/">
    <title ng-bind="::item.title"></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/css/yidu.css">
    <link rel="stylesheet" href="/css/yidu_add_160322.css">


    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/ngDialog.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-plain.css">

    <!--<script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/lib/ngDialog.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/lib/angular-sanitize/angular-sanitize.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/angular-locale_zh-cn.js"></script>-->

    <!--<script type="text/javascript" src="/js/env.js"></script>-->
    <!--<script type="text/javascript" src="/js/apps.js"></script>-->
    <!--<script type="text/javascript" src="/articles/detail.js"></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="/articles/detail.min.js"></script>&ndash;&gt;-->

    <!--<script type="text/javascript" src="/js/yiServer.js"></script>-->

    <!--<script>-->
    <!--var _hmt = _hmt || [];-->
    <!--(function() {-->
    <!--var hm = document.createElement("script");-->
    <!--hm.src = "//hm.baidu.com/hm.js?c8beddd552fa1406344022f03f7224e4";-->
    <!--var s = document.getElementsByTagName("script")[0];-->
    <!--s.parentNode.insertBefore(hm, s);-->
    <!--})();-->
    <!--</script>-->
</head>
<body  >
    <!--<div style="" ng-hide="item.title" >-->
    <div style="background-color: #FFF; position: fixed;height: 150%;width: 100%;z-index: 699;max-width: 600px;" ng-hide="item.title" >
        <img src="/img/loadingStanding.gif" style="display: block;    margin: auto;
        position: absolute;
        top: 200px;
        left: 0;
        /*bottom: 0;*/
        right: 0;
        " width="100px">
    </div>

    <div  ng-if="$env.inClient"  ng-class="{'content-header content-header-translate':scrollUpOrDown ,'content-header ':!scrollUpOrDown}">
        <div class="content-back"  ng-click="toBack()"><a > <i class="iconfont">&#xe601;</i> </a></div>
        <!--<div class="content-header-txt"><span ng-bind="item.attitudes.score||0" ></span >热度 来自<span-->
        <!--ng-bind="item.pv||0"></span><span ng-click="toTop()">用户</span>-->
        <!--</div>-->
        <div class="content-header-txt"><span ng-click="toTop(0)">轻触回顶部</span></div>
    </div>

    <div class="content-cover"><img ng-src="{{(__.content.header.img || item.coverfigure )| resource}}"></div>

    <div class="news-title">
        <h1 ng-bind="::item.title"></h1>
        <ul class="news-author">
            <li><img ng-src="{{item.user.avatar | resource}}" err-src="/img/default_avatar.png" ng-click="toUserHome()"></li>
            <li ng-bind="::item.user.nickName"></li>
            <li class="author-interact"><a  ng-click="subscribeAuthor()" ng-bind="item.user.hasSub==true?'取消关注':'关注TA'"></a><a ng-if="!$env.readOnlyInHere" ng-click="$env.call('toQuestion')">向TA提问</a></li>
        </ul>
    </div>


    <!--<div class="content-top" >-->
        <!--<h1 ng-bind="::item.title" style="padding-top: 0.1em;" ></h1>-->

        <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe609;</i><span ng-bind="item.attitudes.score||0"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe608;</i><span ng-bind="item.pv||0"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe61e;</i><span ng-bind="item.collections.count||0"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe61c;</i><span ng-bind="item.shares.count||0"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="iconfont">&#xe602;</i><span ng-bind="item.comments.count||0"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="content-abstract" ng-bind="::__.content.header.p" ng-if="__.content.header.p"></div>&ndash;&gt;-->

    <!--</div>-->

    <section  ng-repeat="section in __.content.sections" style="word-break: break-all;">

        <p><img ng-src="{{section.img | resource}}" ng-if="section.img" style="width: 100%;"></p>
        <!--<video ng-if="section.video"  controls style="width: 100%;" poster="/img/default_movie.jpg">-->
        <!--<video ng-if="section.video"  controls style="width: 100%;" >-->
        <!--<source ng-repeat="source in section.video.sources" ng-src="{{source.src | resource}}" ng-attr-type="{{source.type}}"/>-->
        <!--</video>-->
        <div class="embed" ng-if="section.embed" bind-html-unsafe="section.embed"></div>
        <div class="forBottom" style="padding: 0.5em 0.9em;line-height: 170%;" ng-bind-html="::section.p" ng-if="section.p">

        </div>
    </section>
    <div class="ash-bg"></div>
    <div class="content-title" ng-if="showApps.length>0||__.smartDevices.length>0" id="appOrSmart">App&产品：</div>
    <!--<div class="content-title" ng-if="showApps.length>0||__.smartDevices.length>0"><span>应用&产品</span>-->
    <!--</div>-->

    <article class="content-link" ng-if="showApps.length>0||__.smartDevices.length>0">
        <div class="content-app" ng-repeat="app in showApps">
            <a ng-click="openYingYong(app)">
                <img ng-src="{{app.icon | resource}}" err-src="/img/default_app.png">

                <h1 ng-bind="::app.name | stringFilter:5"></h1>

                <p>大小:<span ng-bind="::app.size | mb"></span></p>
            </a>
        </div>


        <div class="content-app" ng-repeat="device in __.smartDevices">
            <a ng-click="openKuPin(device)">
                <img ng-src="{{device.icon | resource}}" err-src="/img/default_device.png">

                <h1 ng-bind="::device.name | stringFilter:5"></h1>
                <p ng-bind="'￥' +device.sales.price"></p>
            </a>
        </div>

        <div class="clear"></div>
    </article>
    <div class="ash-bg" ng-if="showApps.length>0||__.smartDevices.length>0"></div>
    <!--<div class="content-title"><span >作者</span></div>-->
    <!--<ul class="content-user">-->
        <!--<li><img ng-src="{{item.user.avatar | resource}}" err-src="/img/default_avatar.png" ng-click="toUserHome()"></li>-->
        <!--<li ng-bind="::item.user.nickName"></li>-->
    <!--</ul>-->
    <!--<div class="content-user-btn">-->
        <!--<a ng-click="subscribeAuthor()"><span ng-bind="item.user.hasSub==true?'取消关注':'关注TA'"></span>(<span-->
            <!--ng-bind="item.user.fans.count||0"></span>)</a>-->
            <!--<a ng-if="!$env.readOnlyInHere" ng-click="$env.call('toQuestion')" >向TA提问</a>-->
    <!--</div>-->

            <!--<div class="content-title" ng-if="item.attitudes.items.length"><span   >文章印象</span></div>-->
            <div class="content-title" ng-if="item.attitudes.items.length">印象：</div>
            <section class="content-vote" ng-if="item.attitudes.items.length">
                <article ng-repeat="att in item.attitudes.items | orderBy: '-weight'">
                    <div><p ng-style="attitudesBarStyle(att)"></p></div>
                    <ul>
                        <a ng-click="attitude(att,item.id)" ng-style="attitudesColorStyle(att)">
                            <li><h1 ng-bind="att.users.count > 999 ? '999+' : att.users.count"></h1></li>
                            <li ng-bind="::att.name"></li>
                        </a>
                    </ul>
                </article>

            </section>
    <div class="ash-bg"></div>
            <div class="content-title" id="commentScroll">点评：</div>
             <div class="topic-add"><P><i class="iconfont">&#xe61a;</i></P><input type="text" value="点评几句" readonly ng-click="showCommentDialog()"></div>
            <div class="topic">
                <div ng-if="!commentfs.length" style="margin-bottom: 1em; font-size: 10px">
                    亲，暂时还无人评论，您来说几句吧~
                </div>
                <section ng-repeat="one in commentfs ">
                    <article>
                        <img ng-src="{{one.user.avatar | resource}}" err-src="/img/default_avatar.png">
                        <ul>
                            <li><h1 ng-bind="one.content.user"></h1></li>
                            <li ng-bind="one.createdOn"></li>
                        </ul>
                        <p><a ng-click="attitudeToZan(one);"><i class="iconfont">&#xe62c;</i>{{one.attitudes.count.like || 0}}</a>
                        </p>
                    </article>
                    <ng-include src="'recursion'" ng-if="one.quote.length>0" ng-init="talksOnOneComment2=one.quote"></ng-include>
                    <div ng-click="showCommentDialog(one)" style="word-break: break-all;" ng-bind="one.content.p" >
                    </div>
                </section>
                <div class="content-user-btn" ng-if="commentfs.length&&commentfs.showMore ||!commentfs.length">
                    <a type="button" ng-if="commentfs.length&&commentfs.showMore"> <span ng-click="showMoreComment()"> 加载更多</span>
                    </a>
                    <!--<a type="button" ng-if="!commentfs.length" ng-click="showCommentDialog()"> <span>我要评论</span> </a>-->
                </div>

            </div>
    <div class="ash-bg"></div>
            <div class="end"   ></div>
            <footer   ng-class="{'footerTranslateHide':scrollUpOrDown }" >

                <ul class="footer-center">
                    <li><a  ng-click="collecteAticle()"><i class="iconfont" ng-style="collectionStyle()">&#xe61e;</i></a></li>
                    <li ><p ng-bind="item.comments.count<10?('0'+item.comments.count):(item.comments.count>99?('99+'):(item.comments.count))"></p><a  ng-click="scrollTo('commentScroll')"><i class="iconfont">&#xe602;</i></a></li>
                    <li ng-if="__.smartDevices.length>0"><a ng-click="scrollTo('appOrSmart')"><i class="iconfont">&#xe61d;</i></a></li>
                    <li ng-if="showApps.length>0"><a ng-click="scrollTo('appOrSmart')"><i class="iconfont">&#xe64b;</i></a></li>
                    <li><a ng-if="$env.inClient" ng-click="openShare(item.title)"><i class="iconfont">&#xe61c; </i></a></li>
                </ul>

                <!--<div class="footer-topic" >-->
                    <!--<i class="iconfont">&#xe611;</i>-->
                    <!--<input id="commentInput" type="button" value="说点儿什么" style="background: white;" ng-click="showCommentDialog()">-->
                <!--</div>-->
                <!--<ul class="footer-right">-->
                    <!--<li >-->
                        <!--<a ng-click="scrollToComment()" >-->
                         <!--<div style="position: absolute; background-color: white;  top: 1.8em; left: 1.5em;     line-height: 70%;">-->
                             <!--<p style="color:#009CE8;    font-size: 15px;" ng-bind="item.comments.count<10?('0'+item.comments.count):(item.comments.count>99?('99+'):(item.comments.count))"></p>-->
                         <!--</diV>-->
                         <!--<i class="iconfont" >&#xe602;</i>-->
                     <!--</a>-->
                 <!--</li>-->
                 <!--<li><a ng-click="collecteAticle()"><i class="iconfont" ng-style="collectionStyle()">&#xe61e;</i></a></li>-->
                 <!--<li ng-if="$env.inClient"><a ng-click="openShare(item.title)"><i class="iconfont">&#xe61c; </i></a></li>-->
             <!--</ul>-->

         </footer>

     </body>
     <script id="recursion" type="text/ng-template">

        <div ng-repeat="one2 in talksOnOneComment2" class="topic-floor" ng-style="louStyle(one2)">
            <div ng-if="one2.child[0]" ng-init="talksOnOneComment2=one2.child" ng-include="'recursion'"></div>
            <h1>{{one2.orderId}}楼 {{one2.user}} {{one2.createdOn}} </h1>

            <p ng-click="showCommentDialog(one)" ng-bind="one2.p" style="word-break: break-all;"></p>
        </div>
    </script>
    <!-- -->


    <script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>

    <!--<script type="text/javascript" src="/js/me-lazyload.js"></script>-->
    <script type="text/javascript" src="/js/lib/ngDialog.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/angular-locale_zh-cn.js"></script>


     <script type="text/javascript" src="/js/SysConfig.js"></script>
    <script type="text/javascript" src="/js/env.js"></script>
    <script type="text/javascript" src="/js/apps.js"></script>
    <script type="text/javascript" src="/articles/detail.js"></script>
    <!-- <script type="text/javascript" src="/articles/detail.min.js"></script> -->

    <script type="text/javascript" src="/js/yiServer.js"></script>
    <!-- <script type="text/javascript" src="/articles/all.js"></script>  -->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c8beddd552fa1406344022f03f7224e4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--
    <script type="text/javascript" src="/js/notie.js"></script>
    </html>
