@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

BODY, DIV, UL, LI, FORM, INPUT, SPAN, P, A, DL, DT, DD, H1, H2, H3, TEXTAREA {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
IFRAME{
    width: 100%;
    height: 14em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
body {
    font-size: 100%;
    color: #333;
    background-color: #fff;
}

/* 分辨率 */
@media (min-width: 200px) {
    body {
        font-size: 80%;
    }
}

@media (min-width: 250px) {
    body {
        font-size: 90%;
    }
}

@media (min-width: 300px) {
    body {
        font-size: 100%;
    }
}

@media (min-width: 350px) {
    body {
        font-size: 110%;
    }
}

@media (min-width: 400px) {
    body {
        font-size: 120%;
    }
}

@media (min-width: 450px) {
    body {
        font-size: 130%;
    }
}

@media (min-width: 500px) {
    body {
        font-size: 140%;
    }
}

@media (min-width: 550px) {
    body {
        font-size: 150%;
    }
}

@media (min-width: 600px) {
    BODY, DIV, UL, LI, FORM, INPUT, SPAN, P, A, DL, DT, DD, H1, H2, H3, IFRAME, TEXTAREA {
        font-family: "Microsoft YaHei", "宋体", Arial;
    }

    body {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;

        font-size: 160%;
        font-family: "Microsoft YaHei", "宋体", Arial;
        width: 600px;
        margin: auto;

    }

    .label, .content-header, footer, .write-bg, .write-footer, .write-btn, .answer-bg {
        max-width: 600px;
        margin: auto;
    }

    .answer-content {
        max-width: 600px;
        margin: auto;
    }

    .label .label-add a {
        height: 4.5em;
    }
}

/* 通用 */
a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    /*color: #0099E5;*/
    text-decoration: none;
}

img {
    border: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.fenge {
    font-size: 0.7em;
    height: 1em;
}

.hearder-left li span, .hearder-right li span, .news section .news-more ul li img {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.end {
    font-size: 1em;
    clear: both;
    height: 3.5em;
}

/* 弹出 */
.tanchu-bg, .tanchu-content, .tanchu-top, .tanchu-main, .tanchu-next {
    font-size: 1em;
}

.tanchu-bg {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.9em;
}

.tanchu-content {
    background-color: #FFF;
    /*border: 2px solid #0099e5;*/
    margin: 0 auto;
    width: 90%;
    max-width: 600px
}

.tanchu-top {
    height: 2.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    padding-left: 0.9em;
}

.tanchu-title {
    float: left;
    color: #666;
    line-height: 100%;
    padding-top: 0.55em;
    font-size: 1.2em;
}

.tanchu-btn {
    float: right;
}

.tanchu-btn a {
    color: #999;
    text-align: center;
    width: 3em;
    display: block;
    height: 2.5em;
}

.tanchu-btn a i {
    color: #999;
    line-height: 1.9em;
    font-size: 1.3em;
}

.tanchu-main {
    padding: 0.7em;
}

.tanchu-next {
    padding: 0.5em;
    height: 2.3em;
}

.tanchu-next a {
    border: 1px solid #b2e6ff;
    display: block;
    float: right;
    padding-top: 0em;
    padding-bottom: 0.2em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    line-height: normal;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: #0099e5;
}

.tanchu-nav {
    text-align: center;
}

.tanchu-nav li {
    float: left;
    padding: 0.3em;
}

.tanchu-nav li a {
    display: block;
    height: 3.2em;
    width: 3.2em;
    border: 1px solid #b2e6ff;
    padding-top: 1em;
    font-size: 0.9em;
    -moz-border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em;
}

.tanchu-nav-a a, .tanchu-nav li a:hover {
    border: 1px solid #0099e5;
    background-color: #0099e5;
    color: #FFF;
}

.tanchu-share {
    font-size: 1em;
    text-align: center;
    /*padding-left: 0.7em;*/
    height: 6em;
    padding-top: 1em;
}

.tanchu-share li {
    display: inline-block;
    padding: 0%;
    width: 25%;
    float: left;
}

.tanchu-share li a {
    display: block;
    font-size: 0.6em;
    line-height: 200%;
}

.tanchu-share li a i {
    display: block;
    border: 1px solid #b2e6ff;
    font-size: 2.4em;
    height: 2em;
    width: 2em;
    margin: auto;
    line-height: 2em;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}

.tanchu-share li a:hover i {
    border: 1px solid #0099e5;
    background-color: #0099e5;
    color: #FFF;
}

.share-friend a i {
    color: #24c288;
}

.share-qqzone a i {
    color: #22c3ff;
}

.share-weibo a i {
    color: #ff6b6b;
}

.share-weixin a i {
    color: #00b300;
}

.tanchu-link {
    text-align: center;
    padding-top: 0.5em;
}

.tanchu-link li {
    font-size: 0.8em;
    color: #666;
    line-height: 150%;
}

.tanchu-link li img {
    height: 5em;
    width: 5em;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}

.tanchu-link li h1 {
    font-size: 1.2em;
    font-weight: normal;
    color: #333;
    padding-top: 0.5em;
}

.tanchu-main-btn {
    text-align: center;
    padding: 0.3em;
}

.tanchu-main-btn a {
    border: 1px solid #b2e6ff;
    margin: 0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: inline-block;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.tanchu-add {
    text-align: center;
    padding-top: 1em;
    font-size: 1em;
    padding-bottom: 0.5em;
}

.tanchu-add li {
    display: inline-block;
    font-size: 0.7em;
}

.tanchu-add li a {
    display: block;
    height: 7em;
    width: 7em;
}

.tanchu-add li a i {
    display: block;
    width: 2.3em;
    font-size: 2em;
    line-height: 150%;
    border: 1px solid #b2e6ff;
    height: 2.3em;
    color: #0099e5;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
    margin-right: auto;
    margin-bottom: 0.3em;
    margin-left: auto;
    padding-top: 0.3em;
}

.tanchu-add li a:hover i {
    color: #0099e5;
    border: 1px solid #0099e5;
}

.tanchu-txt {
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.tanchu-login {
    font-size: 1em;
    padding: 1.5em;
}

.tanchu-login-input li {
    padding-bottom: 0.9em;
    position: relative;
}

.tanchu-login-input li i {
    font-size: 1em;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 1.1em;
    top: 0.55em;
    color: #4cc3ff;
}

.tanchu-login-input li input[type=text] {
    height: 2.35em;
    width: 100%;
    font-size: 1em;
    color: #666;
    border: 1px solid #b2e5ff;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    padding-right: 1em;
    padding-left: 3em;
    line-height: 2.3em;
    outline: none;
}

.tanchu-login-input li input[type=password] {
    height: 2.35em;
    width: 100%;
    font-size: 1em;
    color: #666;
    border: 1px solid #b2e5ff;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    padding-right: 1em;
    padding-left: 3em;
    line-height: 2.3em;
    outline: none;
}

.tanchu-login-input li input[type=checkbox1] {
    height: 1em;
    width: 1em;
    font-size: 1em;
    color: #666;
    border: 1px solid #b2e5ff;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    margin-right: 0.5em;
}

.tanchu-login-input li input[type=button] {
    height: 2em;
    width: 100%;
    font-size: 1.2em;
    color: #FFF;
    border: 1px solid #0099e5;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    background-color: #0099e5;
    outline: none;
}

.tanchu-login-input li span {
    color: #0099e5;
    font-size: 0.9em;
}

.tanchu-login-other {
    text-align: center;
    line-height: 2.3em;
    padding-bottom: 1em;
}

.tanchu-login-other a {
    height: 2.35em;
    width: 2.35em;
    border: 1px solid #b2e5ff;
    display: inline-block;
    margin-left: 0.6em;
    text-align: center;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.tanchu-login-other a i {
    font-size: 1em;
    color: #ff4c4c;
}

.tanchu-login-btn {
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    padding-top: 1em;
    line-height: 2.3em;
}

.tanchu-login-btn a {
    display: inline-block;
    height: 2.35em;
    border: 1px solid #b2e5ff;
    padding-right: 1em;
    padding-left: 1em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #0099e5;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 0px;
    width: 1.2em;
    height: 1.2em;
    background: #fff;
    border: none;
    color: #0099e5;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 0.5em;
    z-index: 1000;
    vertical-align: -20%;
    border: 1px solid #b2e5ff;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-size: 1em;
}

.option-input:hover {
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
}

.option-input:checked {
    background-color: #FFFFFF;
}

.option-input:checked::before {
    width: 1em;
    height: 1em;
    position: absolute;
    content: '\2714';
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    left: 0.2em;
    top: 0.2em;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    background-color: #327fbc;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.buy-link {
    text-align: center;
    padding: 1em;
}

.buy-link li {
    position: relative;
    margin-bottom: 0.7em;
    line-height: 2.5em;
}

.buy-link li i {
    font-size: 1.2em;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0.8em;
    top: 0.55em;
    line-height: 1em;
    color: #0099e5;
}

.buy-link li a {
    display: block;
    width: 100%;
    border: 1px solid #b2e5ff;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

/* 标题 */
header {
    font-size: 1em;
    background-color: #0099e5;
    height: 3em;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 100;
}

header h1 {
    font-size: 1.2em;
    line-height: 2em;
    width: 100%;
    padding-top: 0.3em;
    color: #FFF;
    font-weight: normal;
}

.hearder-left, .hearder-right {
    font-size: 1em;
    line-height: 0px;
    height: 3em;
    position: absolute;
    z-index: 300;
    top: 0px;
}

.hearder-left {
    left: 0px;
}

.hearder-right {
    right: 0px;
}

.hearder-left li, .hearder-right li {
    font-size: 1em;
    color: #FFF;
    height: 3em;
    width: 3.3em;
    display: inline-block;
}

.hearder-left li {
    float: left;
}

.hearder-right li {
    float: right;
}

.hearder-left a i, .hearder-right a i {
    font-size: 1.3em;
    line-height: 2.3em;
    height: 2.3em;
    width: 100%;
    display: block;
    color: #FFF;
}

.hearder-left a:hover i, .hearder-right a:hover i {
    color: #FFFFFF;
    /*background-color: #00aaff;*/
}

.hearder-left li span, .hearder-right li span {
    font-size: 0.7em;
    background-color: rgba(255, 0, 0, 0.9);
    position: absolute;
    right: 1.2em;
    bottom: 1.2em;
    height: 1em;
    width: 1em;
}

/* 导航 */
nav, nav ul, nav ul li, nav ul li a {
    font-size: 1em;
}

nav {
    line-height: 100%;
    width: 100%;
    background-color: #FFF;
    height: 2.3em;
    padding-right: 3.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dedede;
    clear: both;
    position: relative;
}

nav ul li, nav ul li a {
    display: block;
    height: 2.3em;
    line-height: 2.3em;
    text-decoration: none;
    text-align: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding-right: 0.7em;
    padding-left: 0.7em;
}

nav ul li a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0099e5;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0099e5;
}

.nav1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0099e5;
    color: #0099e5;
    text-decoration: none;
}

.nav1 a {
    color: #0099e5;
}

.nav-more, .nav-more-a {
    font-size: 1em;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3.5em;
    height: 2.3em;
    background-color: #FFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
}

.nav-more-a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0099e5;
}

.nav-more a, .nav-more-a a {
    font-size: 1em;
    line-height: 2.3em;
    color: #333;
    width: 3.5em;
    height: 2.3em;
    text-align: center;
    display: block;
}

.nav-more a {
    color: #333;
}

.nav-more-a a {
    color: #0099e5;
}

.nav-more a i, .nav-more-a a i {
    font-size: 0.6em;
    line-height: 1em;
    width: 1.5em;
    height: 1em;
    text-align: center;
    padding-left: 0.5em;
    vertical-align: middle;
}

.nav-more a i {
    color: #999;
}

.nav-more-a a i {
    color: #0099e5;
}

.nav-more a:hover, .nav-more a:hover i, .nav-more-a a:hover, .nav-more-a a:hover i {
    color: #FFFFFF;
    background-color: #0099e5;
}

.prompt {
    padding: 0.9em;
    color: #0099e5;
    text-align: center;
}

/* 标签 */
.label {
    font-size: 1em;
    height: 3.4em;
    background-color: rgba(255, 255, 255, 0.93);
    position: fixed;
    width: 100%;
    bottom: 0em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    text-align: center;
}

.label ul {
    display: inline-block;
    width: 20%;
    float: left;
    font-size: 1em;
    height: 3.4em;
    padding-top: 0.3em;
}

.label ul li {
    font-size: 0.8em;
    padding-top: 0.2em;
}

.label ul li i {
    font-size: 1.7em;
    color: #999;
    line-height: normal;
}

.label .label-a a, .label .label-a a i, .label ul a:hover li i, .label-add a li i {
    color: #0099e5;
}

.label-add {
    position: relative;
}

.label-add a {
    position: absolute;
    top: -0.5em;
    background-color: #fff;
    display: block;
    width: 100%;
    font-size: 1em;
    height: 4.2em;
    padding-top: 1.2em;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
}

.label-add a:hover {
    border: 1px solid #0099e5;
}

.no-content {
    font-size: 1em;
    text-align: center;
    padding-top: 3em;
}

.no-content div {
    font-size: 1.2em;
    padding-bottom: 0.7em;
}

.no-content p {
    padding-bottom: 2em;
}

.no-content ul {
    font-size: 1.2em;
}

.no-content ul a {
    display: block;
    width: 6em;
    margin-right: auto;
    margin-left: auto;
}

.no-content ul li {
    padding-top: 0.5em;
}

.no-content ul li i {
    color: #0099e5;
    font-size: 4em;
    width: 1em;
}

/* 新闻列表 */
.news {
    font-size: 1em;
    position: relative;
    width: 100%;
    clear: both;
    padding-bottom: 0.5em;
}

.news section {
    font-size: 1em;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0.6em;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 0.7em;
    padding-right: 0.9em;
    padding-bottom: 0.3em;
    padding-left: 0.9em;
}

.news section h1 {
    font-size: 1.2em;
    line-height: 130%;
    font-weight: normal;
    padding-bottom: 0.3em;
    position: relative;
}

.news section .news-more {
    font-size: 1em;
    height: 1.5em;
    position: relative;
}

.news section .news-more ul, .news section .news-more p {
    color: #0099e5;
    font-size: 0.8em;
    line-height: normal;
    font-weight: normal;
    position: absolute;
    top: 0em;
}

.news section .news-more ul {
    left: 0em;
}

.news section .news-more p {
    right: 0em;
}

.news section .news-more ul li {
    text-align: center;
    display: inline-block;
}

.news section .news-more ul li img, .news section .news-more p i {
    font-size: 1em;
    height: 1em;
    width: 1em;
    color: #0099e5;
    display: inline-block;
    vertical-align: top;
}

.news section .news-more p i {
    margin-right: 0.2em;
}

.news section .news-more div {
    font-size: 0.8em;
    text-align: center;
    word-spacing: 0.3em;
}

.news div img {
    width: 100%;
}

/* 新闻标签 */
.news-label {
    font-size: 1em;
    height: 3.3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    position: relative;
}

.news-label a {
    display: block;
    font-size: 1em;
}

.news-label p {
    position: absolute;
    left: 0.9em;
    top: 0.65em;
}

.news-label a p img {
    font-size: 1em;
    height: 2em;
    width: 2em;
}

.news-label h1 {
    font-size: 1.2em;
    font-weight: normal;
    width: 100%;
    padding-left: 2.8em;
    padding-top: 0.9em;
    line-height: 100%;
}

.news-label div {
    font-size: 1em;
    position: absolute;
    top: 0em;
    right: 0em;
    text-align: center;
    height: 3.3em;
    width: 3.3em;
}

.news-label div a {
    font-size: 1em;
    color: #999;
    display: block;
    height: 3.3em;
    width: 3.3em;
    padding: 1em;
}

.news-label div i {
    font-size: 1.3em;
    height: 1em;
    width: 1em;
    line-height: 100%;
    display: block;
}

.news-label .yes i, .news-label div a:hover i {
    color: #0099e5;
}

/* 内容 */
.content-top h1, .content-title {
    font-size: 1.2em;
}

.content-header, .content-top p i, .content-txt, .content-app h1, .content-product h1, .content-user, .content-link {
    font-size: 1em;
}

.content-header .content-back a i, .content-header-txt, .content-top p, .content-app p, .content-product p, .content-user-btn {
    font-size: 0.8em;
}

.content-header {
    height: 2.1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    /*padding-right: 0.9em;*/
    /*padding-left: 0.9em;*/
    position: fixed;
    top: 0em;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    z-index: 700;

    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
}
.content-header-translate{

    top: -2.1em;
}
.content-back {
    float: left;
    padding: 0.45em;
}

.content-back a {
    border: 1px solid #b2e6ff;
    font-size: 0.8em;
    line-height: 1.2em;
    height: 1.5em;
    width: 1.5em;
    display: block;
    text-align: center;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.content-header-txt {
    /*float: right;*/
    padding-top: 0.8em;
    color: #666;
    line-height: 100%;
    margin: 0px auto;
    width: 200px;
    text-align: center;
}

.content-cover {
    clear: both;
}

.content-cover img {
    width: 100%;
    clear: both;
}

.content-top {
    padding-top: 2.6em;
    padding-right: 0.9em;
    padding-left: 0.9em;
}


.content-top h1 {
    font-weight: normal;
    line-height: 150%;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
    text-align: left;
}

.content-top p {
    line-height: 100%;
    text-align: center;
    clear: both;
    height: 2em;
    color: #666;
}

.content-top p i {
    height: 1.2em;
    width: 2em;
    line-height: 100%;
    vertical-align: 10%;
    padding-left: 0.8em;
    color: #666;
    padding-right: 0.2em;
}

.content-top ul {
    text-align: center;
    padding-bottom: 1em;
    color: #666;
}

.content-top ul li {
    display: inline-block;
    line-height: 170%;
}

.content-top ul li a {
    border: 1px solid #b2e6ff;
    display: block;
    padding-right: 0.6em;
    padding-left: 0.6em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    color: #333;
}

.content-top ul li span {
    color: #333;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.content-top-left li, .content-top-right li {
    font-size: 0.8em;
    color: #333;
    line-height: normal;
}

.content-top-left {
    float: left;
}

.content-top-right {
    float: right;
}

.content-abstract {
    border: 1px dashed #e5e5e5;
    font-size: 0.8em;
    line-height: 150%;
    padding: 0.5em 0.8em ;
    color: #666;
    margin-bottom: 0.8em;
}

.content-txt {
    word-break:break-all;
    padding-right: 0.9em;
    padding-left: 0.9em;
    line-height: 170%;
    padding-top: 0.5em;
}

.content-txt p {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.content-txt div {
    font-size: 0.8em;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
}

.content-txt img {
    width: 100%;
    padding-top: 0.5em;
}

.content-title {
    color: #666;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both;
}

.content-title span {
    text-align: center;
    margin: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    height: 1.5em;
    display: inline-block;
}

.content-link {
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    padding-left: 1em;
}

.content-app, .content-product {
    height: 3.4em;
    position: relative;
    padding: 0.5em;
    border: 1px solid #e5e5e5;
    float: left;
    width: 46.5%;
    margin-right: 2%;
    margin-bottom: 0.4em;
}

.content-app a, .content-product a {
    display: block;
    width: 100%;
    font-size: 1em;
    padding-top: 0em;
    padding-left: 2.7em;
}

.content-app img, .content-product img {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    left: 0.4em;
    top: 0.4em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.content-app h1, .content-product h1 {
    font-weight: normal;
    width: 100%;
    line-height: 140%;
    white-space: nowrap;
}

.content-app p, .content-product p {
    color: #666;
}

.content-user {
    /*padding-top: 0.5em;*/
    text-align: center;
}

.content-user li img {
    height: 5em;
    width: 5em;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    margin-bottom: 0.3em;
}

.content-user-btn {
    text-align: center;
    padding: 1em;
}

.content-user-btn a {
    border: 1px solid #b2e6ff;
    margin: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: inline-block;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    padding-right: 0.7em;
    padding-left: 0.7em;
}

.content-vote {
    /*height: 10em;*/
    width: 100%;
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
    padding-left: 1em;
}

.content-vote article {
    width: 15.9%;
    height: 9em;
    text-align: center;
    padding-right: 0.7%;
    padding-left: 0.7%;
    float: left;
}

.content-vote article div {
    height: 5em;
    position: relative;
    margin-bottom: 0.5em;
}

.content-vote article div p {
    background-color: #7fd4ff;
    width: 70%;
    position: absolute;
    bottom: 0px;
    left: 15%;
}

.content-vote article ul {
    font-size: 0.5em;
    width: 100%;
    height: 5em;
    border: 1px solid #b2e6ff;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}

.content-vote article ul a {
    padding-top: 0.4em;
    display: block;
    height: 5em;
    color: #666;
    line-height: 100%;
}

.content-vote article ul a h1 {
    color: #0099e5;
    font-size: 1.7em;
    line-height: 150%;
    font-weight: normal;
}

.question {
    line-height: 170%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    margin-right: 0.9em;
    margin-left: 0.9em;
}

.question p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.question div {
    font-size: 0.8em;
    line-height: 150%;
}

.question img {
    width: 100%;
    padding-top: 1em;
}

.open {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b2e6ff;
    position: relative;
    font-size: 1em;
    margin-right: 0.9em;
    margin-left: 0.9em;
    height: 1.2em;
    margin-bottom: 1em;
}

.open a {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #b2e6ff;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    background-color: #FFF;
    color: #0099e5;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.open a i {
    font-size: 1em;
    padding-right: 0.3em;
}


/* 评论 */
.topic {
    padding-right: 0.9em;
    padding-left: 0.9em;
}

.topic section {
    clear: both;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    padding-bottom: 0.9em;
    padding-top: 0.9em;
}

.topic section article {
    height: 3em;
    padding-left: 3em;
    position: relative;
    font-size: 1em;
}

.topic section article img {
    height: 2.5em;
    width: 2.5em;
    position: absolute;
    left: 0em;
    top: 0em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}

.topic section article ul {
    font-size: 0.8em;
    color: #666;
}

.topic section article ul li {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    line-height: 100%;
}

.topic section article ul li h1 {
    font-size: 1.1em;
    font-weight: normal;
    color: #333;
}

.topic section article p {
    font-size: 1em;
    color: #666;
    position: absolute;
    top: 0.7em;
    right: 0em;
}

.topic section article p i {
    font-size: 1em;
    color: #999;
    margin-right: 0.3em;
    line-height: normal;
    vertical-align: 10%;
}

.topic section article p a:hover i {
    color: #0099e5;
}

.topic section div {
    font-size: 1em;
    clear: both;
}

.topic section .topic-floor {
    font-size: 1em;
    border: 1px solid rgba(0, 51, 77, 0.1);
    padding: 1px;
    margin-bottom: 0.3em;
    background-color: rgba(0, 153, 230, 0.015);
}

.topic section .topic-floor h1 {
    font-size: 0.8em;
    color: rgba(100, 100, 100, 0.8);
    font-weight: normal;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    word-spacing: 0.3em;
}

.topic section .topic-floor div {
    font-size: 1em;
}

.topic section .topic-floor p {
    font-size: 1em;
    color: rgba(50, 50, 50, 0.8);
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
}

/* 写评论 */
.reply-title {
    font-size: 1.2em;
}

.reply, .reply-close, .reply-yes, .reply-close a, .reply-yes a, .reply-text textarea {
    font-size: 1em;
}

.reply-close a i, .reply-yes a i, .reply-txt {
    font-size: 0.8em;
}

.reply {
    background-color: #fff;
    padding: 0.5em;
}

.reply-title {
    text-align: center;
    height: 2.5em;
    position: relative;
    line-height: 2em;
}

.reply-close, .reply-yes {
    position: absolute;
    top: 0em;
    text-align: center;
}

.reply-close {
    left: -0.3em;
}

.reply-yes {
    right: -0.3em;
}

.reply-close a, .reply-yes a {
    display: block;
    height: 2.3em;
    width: 2.3em;
    padding: 0.3em;
}

.reply-close a i, .reply-yes a i {
    line-height: 1.9em;
    color: #666;
    background-color: #FFF;
    border: 1px solid #b2e6ff;
    display: block;
    height: 2em;
    width: 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: auto;
}

.reply-close a:hover i, .reply-yes a:hover i {
    color: #fff;
    background-color: #0099e5;
    border: 1px solid #0099e5;
}

.reply-text textarea {
    /*height: 10em;*/
    width: 100%;
    padding: 0.5em;
    line-height: 150%;
    border: 1px solid #e5e5e5;
    color: #333;
}

.reply-txt {
    color: #666;
    text-align: right;
    /*padding-top: 0.5em;*/
    /*padding-bottom: 1em;*/
}

/* 页尾 */
footer, .footer-topic input, .topic-footer input {
    font-size: 1em;
}

.footer-topic i, .topic-footer i {
    font-size: 0.8em;
}

footer {
    position: fixed;
    width: 100%;
    /*top: 90%;*/
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    height: 3.5em;
    text-align: center;
    z-index: 698;
    /*-webkit-transform: translateZ(0);*/
    -webkit-transition:bottom 0.5s ;
    -moz-transition:bottom 0.5s ;
}
.footerTranslateHide {

    bottom: -3.5em;
}

.footer-topic {
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 9.8em;
    position: relative;
}

.footer-topic input {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 2em;
    color: #666;
    line-height: 1.8em;
    padding-left: 2em;
}

.footer-topic i {
    position: absolute;
    left: 2.3em;
    top: 1.6em;
    color: #666;
}

.topic-footer {
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 0.7em;
    position: relative;
}

.topic-footer input {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 2em;
    color: #666;
    line-height: 1.8em;
    padding-left: 2em;
}

.topic-footer i {
    position: absolute;
    left: 2.3em;
    top: 1.6em;
    color: #666;
}

.footer-left {
    padding-top: 0.7em;
    padding-left: 0.3em;
}

.footer-left li {
    float: left;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.footer-left li a {
    display: block;
    padding: 0.4em;
    border: 1px solid #b3e6ff;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.footer-left li a span {
    color: #0099e5;
}

.footer-right {
    height: 3em;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.footer-right li {
    height: 3.5em;
    width: 3em;
    display: inline-block;
    font-size: 1em;
    float: left;
}

.footer-right li a {
    display: block;
    padding-top: 1em;
}

.footer-right li a i {
    font-size: 1.3em;
    color: #666;
}

/*.footer-right li a:hover i {*/
/*/!*color: #0099e5;*!/*/
/*}*/

/*.footer-center {*/
    /*margin: auto;*/
/*}*/

/*.footer-center ul {*/
/*}*/

/*.footer-center ul li {*/
    /*font-size: 0.6em;*/
    /*display: inline-block;*/
/*}*/

/*.footer-center ul li a {*/
    /*display: block;*/
    /*width: 8em;*/
    /*padding-top: 0.5em;*/
/*}*/

/*.footer-center ul li a i {*/
    /*display: block;*/
    /*width: 100%;*/
    /*font-size: 2em;*/
    /*line-height: 130%;*/
    /*color: #666;*/
/*}*/

/*.footer-center ul li a:hover i {*/
    /*color: #0099e5;*/
/*}*/

/* 发文 */
.write-footer {
    font-size: 1.2em;
}

.write, .write input, .write textarea, .edit, .edit-title, .edit-btn, .write h1, .edit-title ul li, .edit-btn ul li, .add-app-list div p a {
    font-size: 1em;
}

.write-txt, .edit-tool, .add-app-list div p a i {
    font-size: 0.8em;
}

.write {
    padding: 0.9em;
}

.write h1 {
    font-weight: normal;
    height: 2em;
    line-height: 120%;
    color: #666;
}

.write input {
    background-color: #FFF;
    padding: 0.5em;
    height: 2.6em;
    width: 100%;
    border: 1px solid #e5e5e5;
    color: #666;
}

.write textarea {
    color: #666;
    padding: 1em;
    height: 12em;
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #FFF;
    line-height: 170%;
}

.write-txt {
    text-align: right;
    padding-top: 0.3em;
}

.write-footer {
    background-color: #0099e5;
    text-align: center;
    height: 2.5em;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.write-footer a {
    display: inline-block;
    width: 50%;
    line-height: 2.5em;
    color: #FFF;
}

.write-footer a:hover {
    background-color: #0af;
}

.write-img {
    height: 100%;
    width: 100%;
    padding: 0.6em;
}

.write-img img {
    height: auto;
    width: 100%;
}

.write p {
    padding-top: 1em;
    color: #666;
}

.write-btn {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-bottom: 0.3em;
}

.write-btn li {
    padding-bottom: 0.7em;
    padding-right: 0.9em;
    padding-left: 0.9em;
}

.write-btn li a {
    display: block;
    border: 1px solid #b2e5ff;
    padding: 0.7em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.edit-tool {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    background-color: #CCC;
    clear: both;
}

.edit-tool li {
    display: inline-block;
    float: left;
    text-align: center;
}

.edit-tool li a {
    height: 4.8em;
    width: 5.1em;
    display: block;
}

.edit-tool li a:hover, .edit-tool li a:hover i {
    background-color: #0099e5;
    color: #FFF;
}

.edit-tool li a i {
    display: block;
    height: 1.7em;
    width: 100%;
    font-size: 1.7em;
    line-height: 100%;
    padding-top: 0.5em;
    color: #0099e5;
}

.edit {
    padding: 0.7em;
}

.edit section {
    border: 1px solid #0099e5;
    margin-bottom: 0.5em;
}

.edit-title, .edit-btn {
    height: 2.7em;
    padding-top: 0.7em;
    color: #666;
    position: relative;
}

.edit-title {
    padding-left: 0.7em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
}

.edit-btn {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}

.edit-btn div {
    float: right;
}

.edit-btn div a {
    color: #0099e5;
    padding-right: 0.7em;
}

.edit-title ul, .edit-btn ul {
    position: absolute;
    top: 0px;
}

.edit-title ul {
    right: 0px;
}

.edit-btn ul {
    left: 0px;
}

.edit-title ul li, .edit-btn ul li {
    float: left;
    text-align: center;
    line-height: 100%;
    display: inline-block;
}

.edit-title ul li a, .edit-btn ul li a {
    color: #0099e5;
    display: block;
    height: 2.7em;
    padding-top: 0.6em;
}

.edit-title ul li i, .edit-btn ul li i {
    font-size: 1.4em;
    line-height: 100%;
    width: 2.7em;
    display: block;
}

.edit-content {
    background-color: #FFF;
}

.edit-content h1 {
    font-size: 1.2em;
    font-weight: normal;
    padding-top: 0.6em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-bottom: 0.2em;
}

.edit-content p {
    font-size: 1em;
    padding-top: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.5em;
    padding-left: 0.7em;
    line-height: 170%;
    text-align: justify;
}

.edit-content img {
    width: 100%;
    height: auto;
    margin: auto;
}

.edit-content .edit-img-txt {
    font-size: 0.8em;
    padding-bottom: 1em;
    padding-top: 0em;
    padding-right: 1em;
    padding-left: 1em;
}

.add-app-list {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    font-size: 1em;
    padding-right: 0.9em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
}

.add-app-list div {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    height: 3.4em;
    display: block;
    clear: both;
    padding-top: 0.4em;
}

.add-app-list div ul li {
    font-size: 1.2em;
    display: inline-block;
    line-height: 200%;
    padding-right: 0.5em;
    float: left;
}

.add-app-list div ul li img {
    height: 2em;
    width: 2em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.add-app-list div p {
    float: right;
    padding-top: 0.5em;
}

.add-app-list div p a {
    float: right;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    text-align: center;
    padding: 0em;
}

.add-app-list div p a i {
    line-height: 1em;
    display: block;
    padding-top: 0.3em;
}

.add-app-list div p .add-app-yes {
    color: #0099e5;
    border: 1px solid #b2e6ff;
}

.add-app-tool {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    background-color: #f2f2f2;
    padding: 0.7em;
    text-align: center;
}

.add-app-tool li {
    display: inline-block;
    position: relative;
    width: 3em;
}

.add-app-tool li img {
    height: 2.5em;
    width: 2.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.add-app-tool li p {
    background-color: #FFF;
    position: absolute;
    top: -0.5em;
    right: 0.1em;
    border: 1px solid #b2e6ff;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    font-size: 0.7em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
}

.add-app-tool li p i {
    width: 1.6em;
    height: 1.6em;
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    color: #0099e5;
}

.add-label {
    font-size: 1em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.add-label p {
    padding-bottom: 1em;
}

.add-label input[type=text] {
    font-size: 1em;
    background-color: #FFF;
    padding: 0.5em;
    height: 2.5em;
    width: 100%;
    border: 1px solid #e5e5e5;
    color: #999;
}

.add-label-list a {
    line-height: 1.8em;
    height: 2em;
    display: inline-block;
    border: 1px solid #b2e6ff;
    text-align: center;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    padding-right: 0.7em;
    padding-left: 0.7em;
}

/* 回答 */
.answer-content, .answer-step-list h1, .answer-step-list {
    font-size: 1em;
}

.answer-step-list article, .answer-step-list div {
    font-size: 0.8em;
}

.answer-header {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
}

.answer-header h1 {
    color: #333;
}

.answer-header .hearder-left a i, .answer-header .hearder-right a i {
    color: #666;
}

.answer-bg {
    z-index: 1;
    width: 100%;
    top: 0em;
    bottom: 0em;
    position: fixed;
}

.answer-bg img {
    height: 100%;
    width: 100%;
}

.answer-content {
    z-index: 500;
    position: absolute;
    left: 0em;
    top: 3.0em;
    bottom: 3.5em;
    right: 0em;
    /*overflow: auto;*/
}

.answer-step {
    background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    bottom: 0px;
    height: 90%;
    /*width: 100%;*/
    overflow: auto;
    position: relative;
    line-height: 170%;
    /*border-left: 1px solid #E5E5E5;*/
    margin: 5px;
    /*border-right: 1px solid #0099e5;*/
}

.answer-txt {
    padding-top: 0.5em;
    padding-right: 0.9em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
}

.answer-txt p {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.answer-img img {
    width: 100%;
}

.answer-img-txt {

}

.answer-content .content-title, .answer-content .content-vote, .answer-content .content-user, .answer-content .content-user-btn {
}

.answer-content .content-user-btn a {
    padding-right: 0.7em;
    padding-left: 0.7em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.answer-step-list {
    background-color: #FFF;
    float: left;
    width: 45%;
    margin: 2.5%;
    height: 14em;
    overflow: hidden;
    position: relative;
    line-height: 140%;
    margin-bottom: 0.9em;
}

.answer-step-list h1 {
    background-color: #0099e5;
    text-align: center;
    height: 1.7em;
    width: 2em;
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #FFF;
    line-height: 1.7em;
    z-index: 400;
}

.answer-step-list div {
    padding: 0.9em;
}

.answer-step-list p img {
    width: 100%;
}

.answer-step-list article {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #FFF;
    padding-top: 0.6em;
    padding-right: 1em;
    padding-bottom: 0.6em;
    padding-left: 1em;
}

.product-bg {
    padding: 1.5%;
    clear: both;
    font-size: 1em;
}

.product {
    border: 1px solid #e5e5e5;
    margin: 1.5%;
    float: left;
    width: 47%;
    position: relative;
    height: 15em;
    font-size: 1em;
    text-align: center;
}

.product section {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.product section p {
    color: #0099e5;
}

.product section h1 {
    font-size: 1em;
    font-weight: normal;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: auto;
    margin-left: auto;
}

.product section ul {
    font-size: 0.8em;
    padding-top: 0.3em;
}

.product section ul li {
    padding-bottom: 0.5em;
}

.product section ul li span {
    font-size: 1.2em;
    color: #0099e5;
}

.product div img {
    width: 100%;
}

.recommend-user {
    text-align: center;
    padding-top: 0.8em;
}

.recommend-user li {
    display: inline-block;
    vertical-align: middle;
}

.recommend-user li img {
    height: 2em;
    width: 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.product-buy {
    clear: both;
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-bottom: 0.9em;
}

.product-buy a {
    text-align: center;
    border: 1px solid #b2e5ff;
    display: block;
    line-height: 2.5em;
    height: 2.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.product-buy span {
    color: #0099e5;
    padding-right: 0.7em;
}

.product-trial {
    clear: both;
    margin-right: 0.9em;
    margin-left: 0.9em;
    border: 1px solid #e5e5e5;
    line-height: 2.5em;
    height: 2.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-bottom: 0.9em;
}

.product-trial p {
    text-align: center;
    margin-right: 0.7em;
    padding-right: 0.7em;
    padding-left: 0.9em;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e5e5e5;
    color: #0099e5;
    display: inline-block;
}

.product-trial span {
    color: #0099e5;
}

.product-application {
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-bottom: 1.7em;
}

.product-application h1 {
    font-size: 1em;
    text-align: center;
    height: 0.7em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    position: relative;
}

.product-application h1 span {
    background-color: #FFF;
    margin: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #0099e5;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
}

.product-application ul {
    clear: both;
    text-align: center;
    padding-top: 1em;
    height: 4em;
}

.product-application ul li {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: bottom;
    line-height: 1em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.product-application div {
    clear: both;
    height: 2em;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    position: relative;
    text-align: center;
    padding-top: 1.4em;
}

.product-application div h2 {
    font-size: 0.8em;
    background-color: #FFF;
    padding-right: 0.3em;
    padding-left: 0.3em;
    position: absolute;
    top: -1em;
    font-weight: normal;
    left: 19%;
}

.product-application div h2 span {
    font-size: 1.7em;
    color: #0099e5;
    vertical-align: -10%;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.product-application div p {
    background-color: #FFF;
    margin: auto;
    font-size: 0.8em;
    width: 6em;
}

.product-tab {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #e5e5e5;
    border-bottom-color: #e5e5e5;
    height: 2.5em;
    padding-left: 0.5em;
}

.product-tab li {
    display: inline-block;
    height: 2.46em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    line-height: 2.45em;
}

.s01 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0099e5;
    color: #0099e5;
}

.product-content {
    padding: 0.9em 0em;
}

.product-content .content-txt {
    padding: 0em;
}

.product-content .content-txt p {
    padding-bottom: 0.5em;
    padding-top: 0.3em;
}

.product-content .content-txt img {
    padding-top: 0em;
}

.product-topic {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    padding-bottom: 0.9em;
    margin-bottom: 0.9em;
}

.product-topic h1 {
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 0.5em;
}

.product-topic h1 i {
    font-size: 1em;
    height: 1em;
    width: 1.3em;
    display: inline-block;
    color: #0099e5;
}

.product-topic ul li {
    display: inline-block;
    width: 20%;
    padding-right: 3%;
    float: left;
}

.product-topic ul li img {
    width: 100%;
}

.product-topic p {
    clear: both;
    font-size: 0.8em;
    padding-top: 0.5em;
}

.product-topic p span {
    color: #0099e5;
    padding-right: 1em;
}

.product-topic p img {
    height: 1em;
    width: 1em;
    vertical-align: -10%;
    margin-right: 0.3em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.forBottom p{
    margin-bottom: 0.7em;
}


.content-top ul li a {
    margin: 0.2em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

